In [1]:
import requests as req

In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import csv

In [3]:
def download_files():
    """Downloads all index files from EDGAR into the current directory"""
    
    for year in range(1993, 2019):
        for quarter in range(1, 5):
            url = 'https://www.sec.gov/Archives/edgar/full-index/' + str(year) + '/QTR' + str(quarter) + '/company.idx'
            r = req.get(url, allow_redirects=True)
            with open('Index-' + str(year) + '-' + str(quarter) + '.txt', "wb") as f:
                f.write(r.content)

In [4]:
import os

def get_reports(company_names, startyear, startquarter, endyear, endquarter):
    """
    Reads all index files and returns a generator of URLs of all 10-K/10-Qs of the given company.
    
    Parameters:
    company_names (str): list of names for the company exactly as listed in the index files
    startyear (int): the year to start looking for reports, inclusive
    startquarter (int): the quarter in startyear to start looking for reports, inclusive
    endyear (int): the year to stop looking for reports, inclusive
    endquarter(int): the quarter in endyear to stop looking for reports, inclusive
    
    Returns:
    Generator: each element is a tuple with the form (year of report, quarter of report, url of report)
    
    """
    
    files = filter(lambda x: x[-4:] == '.txt', os.listdir('.'))
    for file in files:
        year = int(file[6:10])
        if year < startyear or year > endyear:
            continue
        quarter = int(file[11])
        if (year == startyear and quarter < startquarter) or (year == endyear and quarter > endquarter):
            continue
        txt = open(file, 'r')
        for line in txt:
            if any(line.startswith(name) for name in company_names) and '10-Q' in line: # TODO: Include 10-Ks?
                url_index = line.index('edgar/')
                url = line[url_index:].rstrip('\n').strip()
                yield (year, quarter, 'https://www.sec.gov/Archives/' + url)

In [5]:
def make_tables(text, limit, searchterms):
    """
    Parses HTML text and returns a generator of all tables as DataFrames
    
    Parameters:
    text (str): the text of the company report
    limit (int): the max number of tables to search through in the report
    searchterms (list of str): the terms to filter each table for. Only rows with one of the terms
        somewhere in the row label will be added to the amalgamated table.                       
    
    Returns:
    DataFrame: a table combining all rows in all examined tables in the report that contained one
        of the search terms in its row label
    
    """
    
    soup = BeautifulSoup(text)
    tables = soup.find_all("table")
    row_list = []
    indices = []
    titles_added = [] # Represents the titles of rows that were added. Rows with duplicate titles will not be added.
    table_num = 0
    for table in tables:
        added_rows = False
        for row in table.find_all('tr'):
            data_row = []
            columns = row.find_all('td')
            for column in columns:
                cell_text = column.get_text().replace('\n','')
                data_row.append(cell_text)             
            if len(data_row) > 0:
                #print(data_row)
                if any(term in data_row[0].lower() for term in searchterms) and data_row[0] not in titles_added:
                    titles_added.append(data_row[0])
                    added_rows = True
                    #print(data_row)
                    indices.append(data_row[0])
                    row_list.append(data_row[1:])
        if added_rows:
            table_num += 1
        if len(titles_added) >= len(searchterms) or table_num >= limit: # TODO: remove in final version
            break
    return pd.DataFrame(row_list, index=indices)

In [6]:
def get_html_tables(company_names, startyear, startquarter=1, endyear=2018, endquarter=4, limit=12, searchterms=['revenue','profit','income','earning','cash']):
    """
    Forms tables of the desired search terms of the given company in the given timeframe
    
    Parameters:
    See documentation of get_reports and make_tables.
    
    Returns:
    Generator: each element is a tuple with the form (year, quarter, amalgamated table)
    
    """
    
    reports = get_reports(company_names, startyear, startquarter, endyear, endquarter)
    for report in reports:
        text = req.get(report[2]).text
        if '<html' in text or '<HTML' in text:
            data = make_tables(text, limit, searchterms)
            yield (report[0], report[1], data)

In [7]:
import numpy as np
from sklearn.linear_model import Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor, BaggingRegressor
from sklearn.tree import DecisionTreeRegressor

# starting: ibm = 2003, verizon = 2002, comcast = 2004, intel = 2001, amazon = 2001
# columns = 'year', 'quarter', 'total revenue', 'total cost', 'net income', 'cash dividends/share', 'total assets', 'total liabilities'
data = pd.read_csv('testtable.csv', index_col=False, header=None)
training = data.drop(5, axis=1)
training.drop(training.tail(1).index, inplace=True)
training.columns = ['year', 'quarter', 'total revenue', 'total cost', 'net income', 'total assets', 'total liabilities']
labels = np.ravel(data[[5]])
labels = labels[:-1]
testing = pd.DataFrame([[2018,3,18756,9953,2694,121990,102071]])
testing.columns = ['year', 'quarter', 'total revenue', 'total cost', 'net income', 'total assets', 'total liabilities']

display(labels)
print("Training data:")
display(training)

array([0.16, 0.16, 0.18, 0.18, 0.18, 0.2 , 0.2 , 0.2 , 0.3 , 0.3 , 0.3 ,
       0.4 , 0.4 , 0.4 , 0.5 , 0.5 , 0.5 , 0.55, 0.55, 0.55, 0.65, 0.65,
       0.65, 0.75, 0.75, 0.75, 0.85, 0.85, 0.85, 0.95, 0.95, 0.95, 1.1 ,
       1.1 , 1.3 , 1.3 , 1.3 , 1.4 , 1.4 , 1.4 , 1.5 , 1.5 , 1.5 , 1.57])

Training data:

,year,quarter,total revenue,total cost,net income,total assets,total liabilities
0,2003,3,21522,13710,1785,97190,69864
1,2004,1,22250,14241,1602,101825,73640
2,2004,2,23153,14628,1988,99582,70752
3,2004,3,23429,14783,1800,100676,70974
4,2005,1,22908,14654,1402,104899,74979
5,2005,2,22270,13495,1829,103388,73263
6,2005,3,21529,12791,1516,101009,70774
7,2006,1,20659,12571,1708,102468,69737
8,2006,2,21890,12876,2022,103377,69828
9,2006,3,22617,13126,2222,104155,69907
10,2007,1,22029,13163,1844,101619,73811
11,2007,2,23772,13834,2260,102548,85792
12,2007,3,24119,14163,2361,108609,88063
13,2008,1,24502,14336,2319,121823,93095
14,2008,2,26820,15221,2765,120928,92663
15,2008,3,25302,14342,2824,115910,88391
16,2009,1,21711,12280,2295,101944,88252
17,2009,2,23250,12669,3103,103655,88182
18,2009,3,23566,12938,3214,103675,85182
19,2010,1,22857,12880,2601,105208,83059
20,2010,2,23724,12915,3386,103420,82244
21,2010,3,24271,13270,3589,107174,84815
22,2011,1,24607,13749,2863,112960,90185
23,2011,2,26666,14282,3664,113474,90263
24,2011,3,26157,13984,3839,110158,87781
25,2012,1,24673,13555,3066,115347,94563
26,2012,2,25783,13502,3881,113832,93269
27,2012,3,24747,13016,3824,115778,94112
28,2013,1,23408,12730,3032,117258,98044
29,2013,2,24924,12792,3226,115153,97269
30,2013,3,23720,12341,4041,117845,97837
31,2014,1,22484,11941,2384,122646,105906
32,2014,2,24364,12389,4137,124314,106801
33,2015,1,19590,10138,2328,112037,99747
34,2015,2,20813,10423,3449,112729,98892
35,2015,3,19280,9844,2950,108649,95198
36,2016,1,18684,9999,2014,118856,103784
37,2016,2,20238,10536,2504,118056,102167
38,2016,3,19226,10213,2853,115606,98447
39,2017,1,18155,10383,1750,117495,99047
40,2017,2,19289,10495,2331,120495,101951
41,2017,3,19153,10353,2726,121636,101879
42,2018,1,19072,10825,1679,125285,106995
43,2018,2,20003,10804,2404,121622,102974

In [8]:
print("Testing data")
display(testing)
print("Target label (cash dividends/share in $): 1.57")

regr = Ridge(random_state=0, alpha=0.5)
regr.fit(training, labels)
prediction = regr.predict(testing)
print('Ridge regressor prediction: ', round(prediction[0], 4))

regr = Lasso(random_state=0, alpha=0.5)
regr.fit(training, labels)
prediction = regr.predict(testing)
print('Lasso regressor prediction: ', round(prediction[0], 4))

regr = DecisionTreeRegressor(random_state=0, max_depth=5)
regr.fit(training, labels)
prediction = regr.predict(testing)
print('Decision tree regressor prediction: ', round(prediction[0], 4))

regr = RandomForestRegressor(random_state=0, n_estimators=50)
regr.fit(training, labels)
prediction = regr.predict(testing)
print('Random forest regressor prediction: ', round(prediction[0], 4))

regr = BaggingRegressor(random_state=0, n_estimators=50)
regr.fit(training, labels)
prediction = regr.predict(testing)
print('Bagging regressor prediction: ', round(prediction[0], 4))

Testing data

,year,quarter,total revenue,total cost,net income,total assets,total liabilities
0,2018,3,18756,9953,2694,121990,102071

Target label (cash dividends/share in $): 1.57
Ridge regressor prediction:  1.6246
Lasso regressor prediction:  1.5281
Decision tree regressor prediction:  1.5
Random forest regressor prediction:  1.471
Bagging regressor prediction:  1.4704